table {
    border-collapse: collapse;
}

td {
    width: 65px;
    height: 65px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
}

.black {
    background-color: green;
}

.white {
    background-color: white;
}